matplotlib==3.10.8
numpy==2.4.4
openTSNE==1.0.2
openTSNE==1.0.4
Pillow==12.2.0
pycocotools==2.0.11
pycocotools==2.0.9
PyYAML==6.0.2
PyYAML==6.0.3
scikit_learn==1.8.0
sentence_transformers==4.1.0
torch==2.8.0+cu126
torch==2.5.1
torchvision==0.23.0+cu126
torchvision==0.20.1
tqdm==4.67.1
umap_learn==0.5.7
wandb==0.25.1
